/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body{
  background: url('images/chris-coe-407337.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

#logo{
  width: 200px;
  height: auto;
  padding: 10vh 0;
  margin-left: auto;
  margin-right: auto;
}

#background{
  width: 100vw;
  height: 100vh;
  transition: 0.3s;
}

#content{
  background-color: white;
  padding: 2%;
  margin: 22vh 10vw;
}

#content .word{
  height: 2vh;
  margin-bottom: 0;
}

/*#content .word{
  cursor: url('/Users/timknott/Documents/General/portfolio site/interim site/images/ok-hand.png'), auto;
}*/

#contact{
  padding-top: 7vh;
}

#contact a{
  color: white;
}

#contact p{
  text-align: center;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  line-height: 4vh;
  letter-spacing: 1.5px;
  font-size: 16px;
}

#contact .social{
  color: white;
  height: 2vh;
  width: auto;
}

#contact a:hover{
  text-decoration: none;
}

.web-active{
  background: url('images/MacbookPro15inch_Mockup.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ui-active{
  background: url('images/Perspective App Screens Mock-Up.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.graphic-active{
  background: url('images/2017_Macbook_Mockup.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (min-width: 764px){
  #content{
    margin: 22vh 30vw;
  }
}
